---
---

$blue: #05357D;
$red: #BD5C43;
$gold: #FFAD09;
$yellow: #FFFFB2;
$dark-grey: #191919;
$light-grey: #eee;

body {
  margin: 0;
  padding: 0;
  color: $light-grey;
  background-color: #191919;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#header {
  margin-bottom: 10px;
  padding: 10px 0 0 0;
  background-color: $dark-grey;
  img { margin: 5px 0 0 0 }
}

#banner {
  .hwq { display: block }
  .hotwontquit { display: none }
}

ul.links {
  padding: 5px 0px;
  text-align: center;
  margin: 0;

  li {
    display: inline-block;
    font-weight: 400;
    font-size: 90%;
    list-style: none;
    padding: 5px;
    margin: 0;
  }

  a { color: #fff }
  a:hover { color: $yellow }
  a.selected { color: $red }

  a, a.selected, a:hover {
    text-decoration: none;
    background: none;
  }
}

#home {
  img {
    padding: 0;
    margin: 0 0 30px 0;
  }
}

a, a:visited {
  color: $yellow;
  text-decoration: none;
}

a:hover {
  color: $red;
  text-decoration: none;
}



// NEW STUFF ABOVE THIS LINE

$hwq-blue: #3CF;
$hwq-yellow: #CF3;

#videos {
  padding: 10px 0 20px 0;
}

#music {
  padding-bottom: 40px;

  .new-album {
    background-color: #222;
    margin-bottom: 20px;
  }
}

#release {
  padding-bottom: 20px;
}

#news, #post, .post {
  margin: 0 0 30px 0;

  h2 {
    background: none;
    text-align: left;
    font-size: 200%;
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
    line-height: 1.25;
  }

  h3 {
    background: none;
    text-align: left;
    font-size: 160%;
    margin: 20px 0 0 0;
    padding: 0 0 10px 0;
  }

  p { font-size: 130% }

  p.date {
    color: #999;
    background: none;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
  }
}

#shows {
  padding: 0 0 20px 0;

  .sidewards { display: none }

  p.sidewards-notice {
    display: block;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    margin: 0 5px 20px 5px;
    padding: 10px;
    border: 5px solid $red;
  }

  table {
    font-size: 100%;
    margin-bottom: 5px;

    thead {
      color: #666;
      border-bottom: 2px solid #666;
    }

    th {
      border-bottom: 0;
    }

    tr {
      border-bottom: 2px solid #666;
    }

    td {
      border: 0;
      padding: 15px 10px;

      img {
        margin: 0 0 0 20px;

        &.fb { width: 35px; }
      }
    }
  }

  a.fb {
    text-decoration: none;
    border-bottom: none;
  }

  a:hover.fb {
    text-decoration: none;
    background-color: $dark-grey;
  }
}

#show {
  padding: 30px 0;

  img {
    padding: 0;
    margin: 0;
  }

  img.fb {
    width: 35px;
  }

  h2 {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 300%;
    background: none;
    color: $dark-grey;
    text-align: left;
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: 250%;
    background: none;
    color: $light-grey;
    text-align: left;
  }

  p.coupon {
    text-align: center;
    outline: 4px dotted #B1E846;
    border: 2px dashed #61295E;
    background: #fff;
    margin: 20px 40px;
    padding: 10px 0;
    color: #333;
  }
}

#fan-club {
  margin: 0 0 40px 0;

  .info {
    text-align: center;

    h1 { margin-top: 10px }

    p {
      margin-top: 20px;
      font-size: 130%;

      &.metal-sign {
        font-size: 400%;
      }
    }
  }

  #mc_embed_signup {
    form { padding: 0 }

    .mc-field-group {
      width: 100%;
    }

    .button {
      width: 100%;
      font-size: 140%;
      padding: 5px 0;
      height: auto;
      background-color: $red;
      margin-top: 20px;

      &:hover {
        background-color: $blue;
      }
    }
  }

  p.mailchimp {
    width: 80%;
    display: table;
    margin: 20px auto 0 auto;
    font-size: 100%;
    text-align: center;
    color: #666;

    a {
      color: #666;
      text-decoration: underline;
    }

    a:hover {
      color: #666;
      text-decoration: none;
    }
  }
}

#footer {
  margin: 0;
  font-weight: bold;
  background-color: $dark-grey;
  padding: 10px 0 30px 0;

  .social {
    margin-top: 20px;
    padding: 5px;

    ul.links {
      padding: 0;

      li {
        font-size: 160%;
        margin: 0 5px 0 0;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}

img {
  margin: 20px 0;
}

h1, h2, h3 {
  color: $yellow;
}

h1 {
  font-size: 300%;
  text-align: center;
}

h2 {
  font-size: 240%;
  text-align: center;
}

h3 {
  font-size: 300%;
  text-align: center;
}

p {
  font-size: 160%;
  font-weight: 300;
  margin: 15px 0;
}

blockquote {
  padding-top: 0;
  padding-bottom: 0;
  color: #999;
  border-color: $hwq-blue;
  font-size: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin: 10px 0;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 568px) {
  h1 { font-size: 400% }
  h2 { font-size: 310% }
  #shows .sidewards { display: inline-block; }
  #shows .tallwards { display: none; }
  #shows p.sidewards-notice { display: none; }
//  #header { padding: 20px 0 25px 0 }
  #banner {
    .hwq { display: none }
    .hotwontquit { display: block }
  }
}

@media (min-width: 768px) {
  p { font-size: 160%; }
  h3 { font-size: 140% }
  #news p, #post p, .post p{ font-size: 160%; }
  #shows table { font-size: 110%; }
  .video-container { margin: 20px 0 }
  ul.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;

    li {
      display: block;
      flex: 0 1 auto;
      list-style-type: none;
      font-size: 130%;
    }
  }

  #home .social {
    padding: 10px 25px;

    ul.links li {
      font-size: 250%;
    }
  }
}

@media (min-width: 992px) {
  p { font-size: 180% }
  h3 { font-size: 180% }
  ul.links li { font-size: 140% }
  #news p, #post p, .post p { font-size: 160%;}
  #shows table { font-size: 120%; }
}

@media (min-width: 1200px) {
  p { font-size: 200% }
  h3 { font-size: 250% }
  ul.links li { font-size: 140% }
  #news p, #post p, .post p { font-size: 160% }
  #shows table { font-size: 130% }
}
