<div id="hotwontquit">
  <div class="row hot_wont_quit">
    <div class="col-sm-12">
      <a href="/">
        <h1 class="hot back">HOT</h1>
        <h1 class="hot front hot-front">HOT</h1>
        <h1 class="wont back">WON'T</h1>
        <h1 class="wont front wont-front">WON'T</h1>
        <h1 class="quit back">QUIT</h1>
        <h1 class="quit front quit-front">QUIT</h1>
      </a>
    </div>
  </div>

  <div class="row hotwontquit">
    <div class="col-sm-12">
      <a href="/">
        <h1 class="back">HOT WON'T QUIT</h1>
        <h1 class="front">HOT WON'T QUIT</h1>
      </a>
    </div>
  </div>
</div>
