<div class="row">
  <div class="col-sm-3">
    <a href="http://hotwontquit.bandcamp.com" target="_blank">
      <h3>BANDCAMP</h3>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="http://facebook.com/hotwontquitpdx" target="_blank">
      <h3>FACEBOOK</h3>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="http://instagram.com/hotwontquit" target="_blank">
      <h3>INSTAGRAM</h3>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="mailto:hotwontquit@gmail.com">
      <h3>EMAIL</h3>
    </a>
  </div>
</div>
