body {
  margin: 0;
}

#header {
  padding: 20px 0;
  background-color: #333;
}

#links {
  padding: 30px 0;
  background-color: #FFDAE0;
}

#gettin-hard {
  padding-bottom: 20px;
  background-color: #FFDAE0;
  h1.header { color: #333 }
}

#gettin-sweaty {
  background-color: #333;
  padding-bottom: 20px;
  color: #eee;
  h1.header { color: #eee }
}

#footer {
  padding: 20px 0;
  background-color: #eee;
}

img {
  margin: 20px 0;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-family: "Helvetica Neau", sans-serif;
  font-size: 500%;
}

.hotwontquit { display: none; }

h1.front { color: #3CF; }
h1.back { color: #CF3; margin: 10px 0 0 0; }

h1.hot { font-size: 800%; }
h1.quit { font-size: 700%; }

h1.hot-front { margin: -130px 15px 10px 0; }
h1.wont-front { margin: -80px 10px 10px 0; }
h1.quit-front { margin: -112px 15px 10px 0; }

h2 {
  font-size: 240%;
  text-align: center;
  margin: 40px 0 20px 0;
  background-color: #FF66B2;
  padding: 10px;
  font-weight: bold;
}

h3 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  background-color: #333;
  padding: 15px;
  font-size: 300%;
}

h4 {
  font-size: 200%;
  color: #eee;
  margin: -35px 0px 5px 10px;
  width: 100%;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  color: #3CF;
  text-decoration: none;
}

p {
  font-size: 160%;
  margin: 15px 0;
  font-weight: 300;
}

.box {
  padding: 15px;
}

.box img {
  margin: 0;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	margin: 25px 0;
	height: 0;
	overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
  .row { margin: 10px 0 }
  p { font-size: 170%; }
  h3 { font-size: 140%; margin: 0; }
  h1 { font-size: 575%; }
  h1.front { margin: -92px 10px 20px 0; }
  h1.back { margin: 20px 0 0 0; }
  .hot_wont_quit { display: none; }
  .hotwontquit { display: block; }
  h2 { font-size: 310% }
}

@media (min-width: 992px) {
  .row { margin: 20px 0 }
  p { font-size: 215%; }
  h3 { font-size: 180%; margin: 0; }
  h1 { font-size: 750%; }
  h1.front { margin: -120px 15px 30px 0; }
  h1.back { margin: 30px 0 0 0; }
  h2 { font-size: 390% }

}

@media (min-width: 1200px) {
  .row { margin: 35px 0 }
  p { font-size: 270%; }
  h3 { font-size: 250%; margin: 0; }
  h1 { font-size: 900%; }
  h1.front { margin: -145px 20px 30px 0; }
  h1.back { margin: 30px 0 0 0; }
  h2 { font-size: 490% }
}